importFrom(rlang,.data)
export(theme_cellstyle)
export(editorial_vivid)
export(context_color)
export(scale_colour_cellstyle)
export(scale_fill_cellstyle)
export(scale_colour_positive)
export(scale_fill_positive)
export(scale_colour_marker)
export(scale_fill_marker)
export(replicate_distribution)
export(quantitative_scatter)
export(repel_labels)
export(add_comparisons)
